html,
body {
    font-family: 'Arial', sans-serif;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;
}

.fighters {
    padding: 0 15px;
}

.fighter {
    display: inline-flex;
    flex-direction: column;

    padding: 20px;
}

.fighter:hover {
    cursor: pointer;

    box-shadow: 0 0 50px 10px rgba(0, 0, 0, .06);
}

.name {
    font-size: 21px;

    margin-top: 20px;

    align-self: center;
}

.fighter-image {
    height: 260px;
}

#loading-overlay {
    font-size: 18px;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    visibility: hidden;

    width: 100%;
    height: 100%;

    background: rgba(255, 255, 255, .7);

    align-items: center;
    justify-content: center;
}

.modalWrapper {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .5);
}
.modalBody {
    position: absolute;
    top: 50%;
    left: 50%;

    box-sizing: border-box;
    width: 100%;
    max-width: 320px;
    padding: 30px;

    transform: translate(-50%, -50%);

    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 7px #666;
}
.modalHeading {
    margin: 0;
    margin-bottom: 15px;

    text-align: center;
}
.infoField {
    font-size: 24px;
    font-weight: bold;

    margin-bottom: 15px;
}
.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;

    cursor: pointer;
}
.hidden {
    display: none;
}
.visible {
    display: inline-flex !important;

    border: 1px solid blue;
}
.btnWrapper {
    text-align: center;
}
